{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <h2>Relatório da Vaga: {{ vaga.titulo }}</h2>
    
    <p><strong>Faixa Salarial:</strong> {{ vaga.faixa_salarial }}</p>
    <p><strong>Requisitos:</strong> {{ vaga.requerimentos }}</p>
    <p><strong>Ensino Mínimo:</strong> {{ vaga.ensino_minimo }}</p>
    <p><strong>Total de Candidatos:</strong> {{ total_candidatos }}</p>

    <h3>Candidatos:</h3>
    {% if candidatos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Experiência</th>
                    <th>Ensino Último</th>
                    <th>Expectativa Salarial</th>
                </tr>
            </thead>
            <tbody>
                {% for candidato in candidatos %}
                    <tr>
                        <td>{{ candidato.experiencia }}</td>
                        <td>{{ candidato.ensino_ultimo }}</td>
                        <td>{{ candidato.expectativa_salarial }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há candidatos para esta vaga.</p>
    {% endif %}
</div>
{% endblock %}
